.swiper {
    height: 212px;
    position: relative;
}
.search-box{
    position: absolute;
    top: 25px;
    width: 100%;
    padding: 0 10px;

    // 左侧白色区域
    .search {
        flex: 1;
        height: 34px;
        margin: 0 10px;
        padding: 5px 5px 5px 8px;
        border-radius: 3px;
        background-color: #fff;
        
        // 位置
        .location {
            .icon-arrow {
                margin-left: 2px;
                font-size: 12px;
                color: #7f7f80;
            }
        }

        // 搜索表单
        .form {
            border-left: solid 1px #e5e5e5;
            margin-left: 12px;
            line-height: 16px;
            .icon-seach {
                vertical-align: middle;
                padding: 0 2px 0 12px;
                color: #9c9fa1;
                font-size: 15px;
            }
            .text {
                padding-left: 4px;
                font-size: 13px;
                color: #9c9fa1;
            }

        }
    }
    //右侧地图图标
    .icon-map {
        font-size: 25px;
        color: #fff;
    }

}
.nav {
    background-color: #fff;
    padding: 10px 0;
    .am-flexbox-item {
        text-align: center;
    }
    img {
        width: 48px;
    }
    h2 {
        margin-top: 7px;
        font-size: 13px;
        font-weight: normal;
    }
}
.group-title{
    position: relative;
    margin: 15px 0 15px 0;
    font-size: 15px;
    .more{
        color: #787d82;
        position: absolute;
        right: 5px;
        font-size: 14px;
        font-weight: normal;
    }
}
.group{
    padding: 0 10px;
    
    .group-item {

        height: 75px;
        .desc {
            .title {
                font-weight: bold;
                font-size: 13px;
                margin-bottom: 5px;
            }
            .info {
                font-size: 12px;
                color: #999;
            }
            
        }
        img {
            width: 55px;
        }
    }
    .am-grid .am-flexbox{
        background-color: initial;
    }
    .am-flexbox-item{
        background-color: #fff;
    }
    .am-flexbox-align-stretch{
        margin-bottom: 10px;
        .am-flexbox-item:first-child{
            margin-right: 10px;
        }
    
    }

    
}

.news{
    padding: 0 10px;
    .news-content{
        background: #fff;
        .news-item{
            
            margin-top: 20px;
            height: 100px;
            .imgwrap{
                display: inline-block;
                width: 40%;
                text-align: center;
                margin-top: 10px;
    
                .img{
                    width: 110px;
                }
            }
            .content{
                display: inline-block;
                width: 60%;
                .info{
                    margin-right: 20px;
                }
            }
        }

    }
    
}