html,body {
  
  font-family: 'Microsoft YaHei';
  color: #333;
  background-color: #fff;
  height: 100%;
}
* {
  box-sizing: border-box;
  touch-action: pan-y;
  touch-action: pan-x;
}
h2 {
  margin: 0;
}