html,body {

  font-family: 'Microsoft YaHei';
  color: #333;
  height: 100%;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  touch-action: pan-y;
  touch-action: pan-x;
}
h1,h2,p,ul,dd{
  margin: 0;
}
ul {
  list-style: none;
}
html,body,#root,.App {
  height: 100%;
}
